.menu-var {
  background-color: #232F3E;
  overflow: hidden;
}

a {
  color:white;
  margin-left: 2px;
  margin-right: 2px;
}

a:hover {
  color:white;
  /* border-radius: 1px 1px 1px 1px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border: 1px solid #ffffff; */
}

.a-header {
  font-size: 12px;
}

.a-header-1 {
  padding-left: 5%;
}

.a-header-2 {
  padding-right: 5%;
}

.App-logo {
  width: 5%;
  margin-right: 10px;
  margin-top: 10px;
}

.App-publi {
  width: fit-content;
}

.menu-search {
  width: 500%;
}

.mr-sm-2 {
  width: 100% !important;
}